<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<h1>New Order</h1>

<form method="POST" action="/neworder" object="${orderForm}">
    <p>Car:<select name="carId">
        <option th:each="car : ${carList}"
                th:value="${car.id}"
                th:text="${car.getDescription()}" />
    </select></p>


    <p>Date from:<input type="date" name="dateFrom"></p>
    <p>Date to:<input type="date" name="dateTo"></p>
    <p>Passport: <input type="text" name="passport"></p>
    <input type="submit" value="Submit" />

</form>
</body></html>