<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>User List</h1>
<br/><br/>
<div>
    <table border="1" cellpadding="5" cellspacing="1" >
        <tr>
            <th>name</th>
            <th>username</th>
            <th>password</th>
            <th>role</th>
        </tr>
        <tr th:each ="user : ${userList}">
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.username}">...</td>
            <td th:utext="${user.password}">...</td>
            <td th:utext="${user.role}">...</td>
        </tr>
    </table>

    <form method="Post" action="/users" object="${userForm}">

        Page size
        <select name="pageCount">
            <option>5</option>
            <option>10</option>
            <option>15</option>
        </select>
        Page number
        <input type="textfield" name="pageNumber" />
        <input type="submit" value="submit" name="Submit"/>
    </form>

</div>
</body>
</html>